# SPDX-License-Identifier: LGPL-2.1-or-later
# SPDX-FileCopyrightText: 2017 Pengutronix, Chris Fiege <entwicklung@pengutronix.de>

*.pyc
__pycache__/
build/
dist/
*.egg-info
*.venv
.tox/
envs/
.idea
venv/

#emacs
*~
\#*
.#*