# SPDX-License-Identifier: LGPL-2.1-or-later
# SPDX-FileCopyrightText: 2019 Pengutronix, Chris Fiege <entwicklung@pengutronix.de>

include COPYING
graft contrib

global-exclude .*
global-exclude *~
global-exclude *.swp
global-exclude *.pyc
