name: Check and Publish

on: [push, pull_request]

jobs:
  codespell:
    name: Codespell
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: make qa-codespell

  pytest:
    name: Python Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: make qa-pytest

  ruff:
    name: Python Format and Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: make qa-ruff

  build:
    name: Python Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          # include tags and full history for setuptools_scm
          fetch-depth: 0
      - run: make build
      - uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist

  publish:
    name: Publish
    if: ${{ github.event_name == 'push' && vars.PUBLISH_PYPI == 'true' && (startsWith(github.ref, 'refs/tags') || github.ref == 'refs/heads/master') }}
    runs-on: ubuntu-latest
    needs:
      - codespell
      - pytest
      - ruff
      - build
    permissions:
      id-token: write
    steps:
      - name: Download artifacts from build stage
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist/
      - name: Publish distribution package to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
      - name: Publish distribution package to PyPI
        if: ${{ startsWith(github.ref, 'refs/tags') }}
        uses: pypa/gh-action-pypi-publish@release/v1
